/* Context (extensions) */

#support_lastpass_com-menuitem-22,
#popupwindow_ettoolong-menuitem-24,
#_8aa36f4f-6dc7-4c06-77af-5035170634fe_-menuitem-_CitaviPicker,
#zotero_chnm_gmu_edu-menuitem-3842,
#zotero_chnm_gmu_edu-menuitem-22 {
  display:  none;
}

/* Context */

#context-viewsource,
#context-inspect-a11y,
#context-sep-screenshots,
#context-pocket,
#context-savepage,
#context-print-selection {
	display:  none;
}

/* Bookmarks */

#editBookmarkPanelInfoArea,
#editBookmarkSeparator,
#editBMPanel_tagsRow,
#editBookmarkPanelBottomContent{
  display: none;
}

:root {
  --arrowpanel-padding: 8px !important;
}

/* Tabs */

:root {
  --tab-min-height: 32px !important;
  --inline-tab-padding: 8px !important;
}

.tab-content {
  padding: 0 var(--inline-tab-padding) !important;
}

.tab-background {
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important;
  margin-block: var(--proton-tab-block-margin) 0 !important;
}

.tabbrowser-tab {
  --tab-line-color:  none !important;
}

.tab-background:not([selected="true"]) {
  /*background: # !important;*/
}

.tab-background[selected="true"] {
  /*background: #463D39 !important;*/
  border: none !important;
  background-image: linear-gradient(var(--lwt-selected-tab-background-color), #266DAC) !important;
}


/* Toolbar */

:root {
  --urlbar-height: 24px !important;
  --urlbar-toolbar-height: 24px !important;
  --toolbarbutton-outer-padding: 0px !important;
}